body {
font-family: 'Lato', sans-serif;
font-weight: 400;
background: white !important;
}

header {
  padding: 20px 0;
}

header .row{
  display: flex;
  align-items: center;
  color: black;
}
footer .row {
  display: flex;
  align-items: center;

}

header h1 {
  font-size: 100px;
  padding-top: 200px;
  text-align: center;
  font-weight: 900;
  
}
header h2 {
  font-weight: 400;
  font-size: 40px;
  padding-bottom: 50px;
  text-align: center;
  
}

header nav {
  display: flex;
  padding-bottom: 150px;
  justify-content: center;
}

header p {
  margin: 0;
  font-size: 20px;
  height: 50px;
  width: 200px;
  border: 2px solid black;
  border-radius: 10px;
  text-align:center;
  vertical-align: middle;
  padding: 5px;
}

section{
 padding-bottom: 50px;    
}

section .row img {
    margin: 0 0 10px;
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
    }

section h2 {
    font-weight: bold;
    font-size: 50px;
    text-align: left;
}
section h3 {
    font-weight: bold;
    font-size: 30px;
    text-align: center; 
    justify-content: center;
}

section .row .col-md-4 {
    text-align: left;
}

section ul .col-md-12{
    list-style: none;
}

section .row .display-1{
    text-align: center  ;
}

section .row .text-center {
    padding: 20px;
}

section .row .text-center img {
    width:150px;
    height: 150px;
    padding: 20px;
    
}

footer {
  font-size: 12px;
  padding: 20px 0;

}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
  background-color: 'navy';
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}
